.canvas {
    height: 250px;
    width: 300px;
    float: left;
}

.r {
    height: 10px;
    width: 10px;
    float: left;
    background-color: red;
}

.w {
    height: 10px;
    width: 10px;
    float: left;
    background-color: white;
}

.b {
    height: 10px;
    width: 10px;
    float: left;
    background-color: black;
}

.bl {
    height: 10px;
    width: 10px;
    float: left;
    background-color: #3D75A7;
}

.y {
    height: 10px;
    width: 10px;
    float: left;
    background-color: #F6D021;
}

.b2 {
    height: 10px;
    width: 10px;
    float: left;
    background-color: #221D21;
}
